.jumbotron {
    padding: 20px;
    background-color: hsl(305, 100%, 87%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #030303;
  }
  nav {
    background-color: hsl(209, 85%, 81%);
    position: sticky;
    padding: 3px;
    top: 0;
  }
  nav a {
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }
  main {
    padding: 20px;
    overflow: auto;
  }
  #content {
    float: left;
    width: 75%;
  }  
  aside {
    float: right;
    width: 25%;
    padding-left: 20px;
  }
  * {
    box-sizing: border-box;
  }
  header {
    display: inline;
 }
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.image {
  width: 100%;
  height: 100%;
}